*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 238, 0.949);
    background-color: black;
}

html, body{
    height: 100%;
    width: 100%;
}

#content{
    /* height: 110px;
    width: 300px; */
    background-color: black;
    position: absolute;
    top: 130px;
    left: 150px;
    border-radius: 4px;
    font-size: larger;
}
#content h1{
    user-select: none;
}
#content button{
    background-color: rgba(255, 255, 238, 0.949);
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: none;
    user-select: none;
}
#content button:hover{
    box-shadow: 0 0 30px rgba(255, 255, 238, 0.45);
    animation: button 0.4s ease-in-out 0s 1 normal;
}
/* button animation */
@keyframes button {
    from{scale: 0.95;}
    to{scale: 1;}
}
/* #content p{
    font-size: 400px;
} */

#logo{
    background-color: rgba(255, 255, 238, 0.949);
    height: 400px;
    width: 400px;
    position: absolute;
    right: 100px;
    top: 60px;
    border-radius: 50%;
    scale: 1.5;
    z-index: 1;
}
/* #logo:hover{
    scale: 1.5;
} */
#logo img{
    /* width: 105px; h:w (ratio for this logo img) - 4:3 */
    /* and background-color of this logo img is - rgba(255, 255, 238, 0.949) */
    /* height: 60vh; */
    height: 300px;
    position: absolute;
    /* right: 200px;
    top: 100px; */
    top: 40px;
    /* right: 43.25px; */
    right: 84px;
    /* padding: 10px; */
    background-color: rgba(255, 255, 238, 0.949);
    border-radius: 1.7px;
    margin: 4px;
    z-index: 1;
}

/* strip1 style */
#stipContainer{
    overflow: hidden;
}
#strip1{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 75%;
    border-top: 1px solid rgba(255, 255, 238, 0.949);
    border-bottom: 1px solid rgba(255, 255, 238, 0.949);
    font-size: small;
    user-select: none;

    position: absolute;
    top: 70vh;
    z-index: 0;
    /* transform: rotate(-6deg); */
    rotate: z -6deg;
    animation: slideStrip 20s linear infinite;
}
#strip1 p{
    color: rgba(255, 255, 238, 0.949);
}
#strip1 img{
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    z-index: 0;
}
@keyframes slideStrip {
    0% {
      transform: translateX(0%); /* Start from outside right of strip-container */
    }
    100% {
      transform: translateX(-100%); /* End outside left of strip-container */
    }
}

/* strip2 */
#strip2{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 75%;
    border-top: 1px solid rgba(255, 255, 238, 0.949);
    border-bottom: 1px solid rgba(255, 255, 238, 0.949);
    font-size: small;
    user-select: none;

    position: absolute;
    top: 70vh;
    z-index: 0;
    /* transform: rotate(-6deg); */
    rotate: z 6deg;
    animation: slideStrip 20s linear infinite;
}
#strip2 p{
    color: rgba(255, 255, 238, 0.949);
}
#strip2 img{
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    z-index: 0;
}
@keyframes slideStrip {
    0% {
      transform: translateX(0%); /* Start from outside right of strip-container */
    }
    100% {
      transform: translateX(-100%); /* End outside left of strip-container */
    }
}

/* nothing1 div */
#nothing1{
    height: 135vh;
    width: 100%;
}

/* nav bar */
#nav{
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
    margin-bottom: 13vh;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}
nav ul {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;

}
nav ul li {
    list-style-type: none;
}
/* nav buttons */
nav ul li button{
    /* background-color: rgba(255, 255, 238, 0.949); */
    /* color: black; */
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 20px;
    border: none;
    /* border: 1px solid rgba(255, 255, 238, 0.949); */
    user-select: none;
}
nav ul li button:hover{
    background-color: rgba(255, 255, 238, 0.949);
    color: black;
    box-shadow: 0 0 30px rgba(255, 255, 238, 0.45);
    /* animation: button 0.4s ease-in-out 0s 1 normal; */
}


/* projects div */

#bigproject{
    /* text-align: center; */
    /* box-shadow: 0 0 30px rgba(255, 255, 238, 0.45); */
}
#bigproject h1{
    margin-left:120px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-style: dotted;
}
#projects{
    /* background-color: rgba(255, 255, 238, 1); */
    background-image: url('Project\ BG\ 2.png');
    background-size: cover;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-shadow: 0 0 30px rgba(255, 255, 238, 0.45); */
}
#projects:hover{
    box-shadow: none;
}
#p1{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 160px;
    width: 380px;
    background-image: url("nhp2.png");
    background-size: cover;
    /* fill-opacity: 100px; */
    border-radius: 10px;
    margin-top: 60px;
}
#p1:hover{
    animation: zoom 0.4s ease-in-out 0s 1 normal;
}
#p1 button{
    background-color: rgba(17, 150, 10, 0.949);
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    user-select: none;
}
#p1 button:hover{
    /* box-shadow: 0 0 30px rgba(255, 255, 238, 0.45); */
    /* animation: button 0.4s ease-in-out 0s 1 normal; */
    background-color: rgba(20, 171, 12, 0.949);
}
/* p2 */
#p2{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 160px;
    width: 380px;
    background-image: url("GCS.png");
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 60px;
}
#p2:hover{
    animation: zoom 0.4s ease-in-out 0s 1 normal;
}
#p2 button{
        background-color: rgba(207, 43, 43, 0.949);
        color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        user-select: none;
}
#p2 button:hover{
    /* box-shadow: 0 0 30px rgba(255, 255, 238, 0.45); */
    /* animation: button 0.4s ease-in-out 0s 1 normal; */
    background-color: rgba(225, 45, 45, 0.949);
}
/* p3 */
#p3{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 432px;
    width: 769px;
    background-image: url("Portfolio2.png");
    background-size: cover;
    fill-opacity: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#p3:hover{
    animation: zoom 0.4s ease-in-out 0s 1 normal;
}
#p3 button{
        background-color: rgba(255, 255, 238, 0.949);
        color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        user-select: none;
}
#p3 button:hover{
    /* box-shadow: 0 0 30px rgba(255, 255, 238, 0.45); */
    /* animation: button 0.4s ease-in-out 0s 1 normal; */
    color: rgba(255, 255, 238, 0.949);
    background-color: black;
    border: 1px solid rgba(255, 255, 238, 0.949);
}

/* zoom animation for projects */
@keyframes zoom {
    from{scale: 0.99;}
    to{scale: 1;}
}